h1 {
  color: rgb(16, 12, 18);
}

.kartya {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 200px;

  box-shadow: 2px 2px 8px 0px #0000007d;
  background-image: linear-gradient(rgb(201 201 201), rgb(247 247 247)),
    url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png);
  background-blend-mode: hard-light;
  background-size: 250%;
  background-position: center;
}

#container,
#masikhely {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pokemonName {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.kartya {
  width: 150px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid transparent;
}

.kartya.selected {
  border-color: red;
  transform: scale(1.1);
}
.kartya.selected {
  background-color: rgb(13, 177, 207);
  border-color: rgb(120, 13, 192);
  transform: scale(1.1);
}
body {
  background-color: rgb(241, 13, 13);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
